@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.display-style{
    display: flex;
}

/* Dark-02 */

.text-gray{
    color: #424242;
}
/* Dark-03 */

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 21px 25px;
    color: white;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main>section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    margin-bottom: 24px;    
}


/* header style */

/* nav related style */

.logo-color{
    color: #FF900E;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: bold;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
    
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;   
}

.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}


.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
    margin-bottom: 45px;
}

.team{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
}
.features-section{
    gap: 146px;
}

#feature-title-txt{

    border-left: 5px solid #FF900E;
    padding: 23px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge{
    padding: 42px 46px;
    margin-left: -92px;
    margin-top: -100px;
    font-size: 1.35rem;
    font-weight: 500;

}

.featuure-architect img{
    width: 100%;
}
#experience-year{
    font-weight: 700;
    font-size: 4rem;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.features{
    margin-left: 73px;
    max-width: 530px;
}


#Quick-list{
    font-weight: 500;
}
.features-color{
    color: #FF900E;
    
}

.fact-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr)
      
    
    
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;   
}

.fact-description{
    max-width: 540px;
}

.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}

.footer-section{
    padding: 40px;
    background-color: bisque;
    text-align: center;
    margin-top: 130px; 


}

@media screen and (max-width: 576Px){
    .nav-links ,
     .navbar ,
     .features-section ,
      .team{
        flex-direction: column;
    }

    .team-img-container , 
    .fact-container ,
    .sponsors-companies
    
    {
        grid-template-columns: repeat(1 , 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    .sponsors-companies{
        justify-items: center;
        gap: 50px;
    }

    .features{
        margin-left: 20px;
    }


}

/* medium devices */

@media screen and (min-width:576px) and (max-width:992px){
    .team , .features-section{
        flex-direction: column;
    }
    .features{
        margin: 20px auto;
    }    
    .sponsors-companies , .fact-container{
        grid-template-columns: repeat(2 , 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

     
}
